<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Schedule</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800&display=swap" rel="stylesheet">
</head>
<%- include('../partials/header') %>
<body>
  <H1 align=center>Mr. Coffee Schedule Site </H1><br><br>
    <main>
     
        <div class="container">
            <form action="/addschedule" method="post">
              <div class="row">
                <div class="col-25">
                  <label for="day">Choose Day</label>
                </div>
                <div class="col-75">
                  <!-- <input type="text" id="dayoftheweek" name="dayoftheweek" placeholder="Day of the Week.."> -->
                  
                  <select name="day" id="day">
                  <option value="" selected="selected">Select Day</option> 
                  <option value="1">Monday</option>
                  <option value="2">Tuesday</option>
                  <option value="3">Wednesday</option>
                  <option value="4">Thursday</option>
                  <option value="5">Friday</option>
                  <option value="6">Saturday</option>
                  <option value="7">Sunday</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="starttime">Start Time</label>
                </div>
                <div class="col-75">
                  <input type="text" id="starttime" name="starttime" placeholder="User star time..">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="endtime">End Time</label>
                </div>
                <div class="col-75">
                  <input type="text" id="endtime" name="endtime" placeholder="User end time..">
                </div>
              </div>
              <div class="row">
                <input type="submit" value="Submit">
              </div>
            </form>
          </div>
    </main>
    <% if (firstname){%>
      <h2 align=center><strong>Hi <%= firstname %> Your new Schedule is here </strong></h2><br>
      <% }%>
    <table class="tablestyle">
      <thead>
      <tr>
          <th>Day</th>
          <th>Start Time</th>
          <th>End Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% for(let i=0; i < schedules.length; i++) {%>
<th> <%= schedules[i].day %> </th>
<th>  <%= schedules[i].starttime %> </th>
<th>   <%= schedules[i].endtime %> </th>
  </tr>
  </tbody>
<%  } %>
  </table>
    <p><a href="/logout">Logout</a></p>

</body>
<%- include('../partials/footer') %>
</html>