<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800&display=swap" rel="stylesheet">
</head>
  <%- include('../partials/header') %>
<body>
  <H1 align=center>Welcome Mr. Coffee Schedule Site </H1><br><br>
    <div class="row">
  <% if (firstname) { %>
    <h1><%= firstname %></h1>
  <% } else { %>    
    <h1>Please go to the sign up page to register</h1>
  <% } %>
  <div class=solid>
  
    <table class=“tablestyle”>
      <thead>
          <tr>
              <th>User Name</th>
              <th>Day</th>
              <th>Start_Time</th>
              <th>End_Time</th>
          </tr>
      </thead>
      <tbody>
          <tr>
  <% for(let i=0; i < schedules.length; i++) {%>
  <th>  <%= schedules[i].firstname%> </th>
  <th> <%= schedules[i].day %> </th>
  <th>  <%= schedules[i].starttime %> </th>
  <th>   <%= schedules[i].endtime %> </th>
      </tr>
      </tbody>
<%  } %>
      </table>
    </div>

  <p><a href="/logout">Logout</a></p>

 
  </body>
  <%- include('../partials/footer') %>
</html>